*{
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


//variables//
$backgr-color01: #EAEAEA;
$backgr-color02: #F6F6F6;
$location-color: #353535;
$icon-grey-color: #7E7E7E;
$main-color: #9356DC;
$grad-color: linear-gradient(#FF79DA, #9356DC);
$grad-color2: linear-gradient(rgba(255, 121, 218,0.8), rgba(147, 86, 220,0.8));
$deco-color01: #99E2D0;
$deco-fontcolor01: #008766;
$deco-color02:#89C8FA;
$deco-color0:#003A68;

//mixins//

@mixin shadow01 {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
}

@mixin shadow02 {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.2));
}

@mixin extrashadow {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
}


//DRY-FONTS//
.ttl {
    font-weight: 700;
    &__head {
        font-size: 24px;
        
    }
    
    &__head-discov {
        font-size: 24px;
        margin-block-end: 0.4em;
    }
    
    &__head-resto {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    &__card {
        font-size: 18px;
    }
    

}

.subttl {
    font-weight: 300;
    
    &__discov {
        font-size: 18px;
        margin-block-start: 0em;
    }
    
    &__card {
        font-size: 17px;
    }

}

.txtfonct {
    font-weight:500;
    font-size:16px;
    
    &__loc {
        color: $location-color;
    }
}



//animation-heart//

@keyframes heart {
    from {
        opacity: 0;
        
        
    }

    to{
        opacity: 1;
        font-weight: bold;
        color:transparent;
        background-clip: text;
        background-image:linear-gradient(#FF79DA, #9356DC);
    }
   
}

@keyframes heart-off {
    from {
        opacity: 1;
        font-weight: bold;
        color:transparent;
        background-clip: text;
        background-image:linear-gradient(#FF79DA, #9356DC);
    }

    to{
        opacity: 0;
    }
}

//animation-loader//

@keyframes load {
  0% { left: 0; height: 51px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 400px; height: 51px; width: 15px}
}

@keyframes anim1s{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadersetoff {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }

    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes bodysetoff {
    0% {
       opacity: 0;
       display: none;
    }
    70% {
        opacity:0;
    }
    100%{
        opacity: 1;
       display: block;
    }
}

//tree//
body {
    padding: 0;
    margin: 0;

    .loader-container {           
        top: 0;
        bottom: 0;
        left:0;
        right: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;            
        background-color: #353535;
        animation: loadersetoff 5s forwards;
        z-index: 1000;
           
        .loader {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 110px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .loader__font {
                font-family: 'Shrikhand', cursive;
                font-size: 60px;
                color:white;
            }
            .anim-oh{
                animation: anim1s 1s backwards;
            }

            .anim-my {
                animation: anim1s 1s backwards 1s;
            }

            .anim-food{
                animation: anim1s 1s backwards 2s;
            }
                                        
            &::before, &::after {
                content: "";
                display: block;
                width: 15px;
                height: 15px;
                background: $grad-color;
                position: absolute;
                animation: load .7s alternate ease-in-out 6;
            }
            
            &::before {
                top: 5px;
            }
            
            &::after {
                bottom: 0;
            }
        }
    }
    
    
    header {
        width: 100%;
        
        .header__logo {
            display: flex;
            justify-content: center;
            padding-top:30px;
            padding-bottom: 15px;
                & img{
                    filter: none;
                    width:162px;
                }
            }
                    
        .header__loc {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: $backgr-color01;
            gap:15px;

                & i {
                font-size: 17px;
                color: $location-color;
            }
        }
    }

    .discover {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 50px;
        gap:1vh;
        background-color: $backgr-color02;
        
        &__cont-ttl {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            width: 70%;
        }

        &__cont-subttl {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;
            width: 80%;
        }

        a {
            display: inline-block;
            .discover__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                border: none;
                width: 218px;
                height: 50px;
                color: white;
                background: $grad-color;
                @include shadow01;
                white-space: nowrap;
                position: relative;
                z-index: 1;
            
                &:hover {
                    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
                    
                }
                
                &:hover > .discover__btn--bg {
                    opacity: 0;
                }
                
                
                &--bg {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    border-radius: 25px;
                    opacity: 0.3;
                    background:$grad-color2;
                    transition: opacity 250ms ease-in-out;
                }
            }
        }     
    }

    main {
        padding-top: 20px;
        
        .main-cont-nav {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;      
                    
            .main-cont-navttl {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding-left: 20px;
                width: 355px;
            }

        nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 375px;
            gap:3vh;
            padding-top: 10px;
            padding-bottom: 100px;
                
                & a {
                    display: inline-block;
                    width: 355px;

                    .nav__btn {
                        width: 95%;
                        height: 72px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border:none;
                        gap: 2em;
                        position: relative;
                        background-color: $backgr-color02;
                        @include shadow02;
                        z-index: 1;
                        opacity: 1;
                            & i {
                            font-size: 18px;
                            color:$icon-grey-color;
                            }
                            
                            &:hover {
                                filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
                                .nav__btn--bg {
                                    opacity: 0;
                                }
                            }
    
                            &--bg {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                border-radius: 20px;
                                background-color: darken($backgr-color02,6);
                                opacity: 0.3;
                                z-index: -1;
                                transition: opacity 250ms ease-in-out;
                            }
                    }
         
                    .nav__number {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        width: 25px;
                        height: 24px;
                        border-radius: 100%;
                        background-color: $main-color;
                        color: white;
                    }
    
                    .nav__number-one {
                        position: absolute;
                        left:-12px;
                        z-index: 1;
                    }
    
                    .nav__number-two {
                        position: absolute;
                        left:-12px;
                        z-index: 1;
                    }
    
                    .nav__number-three {
                    position: absolute;
                    left:-12px;
                    z-index: 1;
                    }
    
                }
            }
        }

        .main__container-resto {
            width: 100%;
            background-color: $backgr-color02;
            padding-top: 30px;
            padding-bottom: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .resto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 375px;
                gap:20px;
                
                h2 {
                    margin-block-end: 0px;
                    margin-block-start: 20px;
                }

                &__card {
                    width: 90%;
                    height:265px;
                    border-radius: 20px;
                    background-color: white;
                    position: relative;

                    &:hover {
                        filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
                    }

                    .sction__img {
                        height: 190px;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 20px 20px 0px 0px;
                    }
                    
                    &-new {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:  80px;
                        height: 29px;
                        background-color:$deco-color01;
                        border: none;
                        color: $deco-fontcolor01;
                        position: absolute;
                        z-index: 1;
                        left: 245px;
                        top: 15px;
                        font-size: 14px;
                    }

                    &-ttl-icon {
                        display: flex;
                        justify-content: space-between;

                            .resto__card-ttl {
                                display: flex;
                                flex-direction: column;
                                padding-left: 15px;
                                & > h3 {
                                    margin-block-start: 10px;
                                    margin-block-end: 0;
                                    }
        
                                & > p {
                                    margin-block-start: 5px;
                                    }
                            }

                            .resto__card-icon {
                            height: 28px;
                            width: 28px;
                            position: relative;
                            right: 20px;
                            top:10px;
                            align-content: center;
                            
                            i {
                                position: absolute;
                                font-size: 28px;
                            }
                                
                               
                            &:hover > i {
                                animation: heart 1s ease-in-out forwards;
                            }

                            &:not(:hover)> i {
                                animation: heart-off 1s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer {
        padding-top: 5px;
        background-color: #353535;
        padding-bottom: 20px;

        h2 {
            color: white;
            font-family: 'Shrikhand', cursive;
            padding-left: 20px;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap:10px;
            padding-left: 20px;
            margin-top:0;
            
            li {
               a {
                    color: white;
                }
            

                i{
                    color: white;
                    font-size: 16px;
                    padding-right: 15px;
                }
            }
        }
    }
}

//BP01//
@media (min-width:570px) {
    body {
        footer {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 80%;
            }

        }
    }
}

//TABLET//
@media (min-width:768px) {
    .txtfonct {
        font-weight: 500;
        font-size: 16px;
    }

    .nav__btn i {
        font-size: 20px;
    }

    nav a {
        display: block;
        width: 30%;
    }
    
    body {
        main {
            .main-cont-nav {
                .main-cont-navttl{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                }

                nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 90%;
                }    
            }
    
            .main__container-resto {
                .resto {
                width: 85%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                
                    .resto__card {
                    width: 300px;
                    gap:40px;

                    &-new {
                        left: 205px;
                        top: 15px;
                    }

                    }
                }
            }    
        }
    }
}

//DESKTOP//
@media (min-width:1440px) {

    body {
        main {
            .main-cont-nav {

                .main-cont-navttl {
                    width: 1080px;
                    padding-left: 0px;
                }

                nav {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                }    
            }
    
            .main__container-resto {
                padding-top: 20px;
                padding-bottom: 35px;
                
                .resto {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 1080px;
                    gap:40px;
                    
                    .ttl__head-resto {
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                    }

                    .resto__card {
                        width: 44.8%;

                        &-new {
                            height: 15px;
                            width: 60px;
                            padding: 10px;
                            font-size: 15px;
                            left: 384px;
                            top: 15px;
                        }
                    }
                }
                   
            }
        }    
    

        footer {
            padding-top: 60px;
            padding-right: 100px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: row-reverse;
            gap:150px;
            
            h2 {
                margin-block-end: 0.5em;
                padding-left: 0px;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                gap:30px;
                margin-top:0 ;
                li{
                    a:hover {
                           font-size: 20px;
                        }
                    
                    i{
                        color: white;
                        font-size: 18px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}