* {
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
//fonts//
.ttl {
    font-weight: 700;
    &__head {
        font-size: 24px;
    }
}

.txtfonct {
    font-weight: 500;
    font-size: 16px;
}

//variables//
$backgr-color01: #EAEAEA;
$backgr-color02: #F6F6F6;
$location-color: #353535;
$main-color: #9356DC;
$deco-color01: #99E2D0;
$deco-color02:#008766;

//mixins//
@mixin grad-color {
    background: rgb(147,86,220);
    background: linear-gradient(0deg, rgba(147,86,220,1) 11%, rgba(255,121,218,1) 100%);
}

@mixin shadow01 {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
}

@mixin shadow02 {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.2));
}

//animations-heart//
@keyframes heart {
    from {
        opacity: 0;
    }

    to{
        opacity: 1;
        font-weight: bold;
        color:transparent;
        background-clip: text;
        background-image:linear-gradient(#FF79DA, #9356DC);
    }
   
}

@keyframes heart-off {
    from {
        opacity: 1;
        font-weight: bold;
        color:transparent;
        background-clip: text;
        background-image:linear-gradient(#FF79DA, #9356DC);
    }

    to{
        opacity: 0;
    }
}

//animations-tick//
@keyframes choiseMenu{
    0% {
        transform: scaleX(0);
        transform-origin: right;
        display: none;
    }
    
      
    50%,100%{
        transform: scaleX(0.5);
    }
    100% {
        
        transform: scaleX(1);
    }
}

@keyframes choiseMenuOff{
    0% {
        transform: scaleX(1);
        transform-origin: left;
    }
    
      
    50%,100%{
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(0);
        display: none;
    }
}

@keyframes anim-subttl {
    0%{
        transform: translate(-500rem);
    }
    50%,100%{
        transform: translate(-250rem);
    }
    100%{
        transform: translate(0rem);
    }
}

//animations-scrolldown//
@keyframes scrolldownn {
    0%{
        opacity: 0;
    }
    
    30% {
        opacity: 0.3;
    }

    100%{
        opacity: 1;
    }
}

/***************************/
body {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    header {
        width: 100%;
        .header__logo-icon {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top:50px;
            padding-bottom: 20px;
            position: relative;
            
            .header__logo{
                height:35px;
            }
    
            & i {
                position: absolute;
                font-size: 23px;
                left: 25px;
                top:55px;
                
            }
        }

        .header__img {
            width: 100%;
            height: 275px;
            object-fit: cover;
        }
    }

    main {
        width: 100%;
        height: 1361px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50px 50px 0px 0px;
        background-color: $backgr-color02;
        position: absolute;
        z-index:1;
        top: 330px;//39vh
              
        .main__container {
            position: absolute;
            top:0px;
            width: 90%;
            height: 1421px;
                      
            .main__ttl-icon {
                padding-top: 50px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;
                
           
                .main__ttl {
                    h1 {
                        font-family: 'Shrikhand', cursive;
                        font-size: 28px;
                        font-weight: 400;
                    }
                }
                .main__icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 28px;
                    animation: scrolldownn 2s ease-in backwards 3s;
                
                &:hover > i {
                    animation: heart 500ms ease-in-out forwards;
                }

                &:not(:hover)> i {
                    animation: heart-off 500ms ease-in-out;
                }

                }
            }

            .main__subttl {
                font-size: 16px;
                font-weight:300;
                border-bottom: solid 3px $deco-color01 ;
                width: 38px;              
            }

            .main__subttl-entr {
                animation: anim-subttl 1s ease-in-out;
            }
            .main__subttl-plat{
                animation: anim-subttl 1s ease-in-out 500ms;

            }
            .main__subttl-dess{
                animation: anim-subttl 1s ease-in-out 1s;

            }

            .main__container-menu {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding-bottom: 40px;
                animation: scrolldownn 2s ease-in backwards 2s;
                
                
                .main__card {
                    width: 97%;
                    background-color: white;
                    border-radius: 16px;
                    padding-left: 2%;
                    border: none;
                    display: flex;
                    position: relative;
                    @include shadow02;
                    
                    &-ttl {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 97%;
                        padding-bottom: 10px;
                        
                        .card__ttl {
                        font-weight: 500;
                        font-size: 18px;
                        margin-bottom: 15px;
                        }
                        
                        .card__subttl-price{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 96%;
                        
                            .card__subttl {
                                font-weight: 300;
                                font-size: 15px;
                                margin-top: 0;
                                margin-bottom: 0;
                                width: 250px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                     
                            .main__card-price {
                                margin:0;
                                font-size: 15px;
                                font-weight: 700;
                            }
                        }
                    }

                    .card__check{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:12%;
                        height: 73px;
                        border:solid;
                        background-color: $deco-color01;
                        color: white;
                        border-radius: 0px 16px 16px 0px;
                        z-index: 8;
                        & i {
                            display: inline-block;
                            padding: 3px;
                            width: 15px;
                            height: 15px;
                            border-radius: 50px;
                            background-color: white;
                            color: $deco-color01;
                        }
                    }
                
                &:hover > .card__check{
                    animation: choiseMenu 400ms backwards linear;
                }
            
                &:not(:hover) > .card__check{
                    animation: choiseMenuOff 400ms forwards linear;
                }
                
                }
            }

            .main__btn-commande {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top:20px;
                margin-bottom: 40px;
                
                .main__btn-comnd {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 70px;
                    border: none;
                    width: 186px;
                    height: 50px;
                    padding:20px;
                    color: white;
                    font-size: 16px;
                    font-weight: 500;
                    @include grad-color;
                    @include shadow01;
                }
            }
        }
    }
    
    footer {
        width: 100%;
        background-color: #353535;
        padding-bottom: 20px;
        position: absolute;
        z-index: 2;
        top:1690px;//227vh

        h2 {
            color: white;
            font-family: 'Shrikhand', cursive;
            padding-left: 20px;
        }
        
                   
        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap:10px;
            margin-top:0;
            padding-inline-start: 20px;
            li{
                a{
                    color: white;
                    &:hover {
                        font-size: 20px;
                    }
                }
                
                i{
                color: white;
                font-size: 16px;
                padding-right: 20px;
                }
            }
        }
    }
}        

@media (min-width:570px) {
    body {
        main{
            .main__container{
                .main__card {
                    padding-right: 0%;
                    .card__subttl {
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        overflow:visible;
                        text-overflow:unset;
                        white-space: nowrap;
                    }

                    &-price {
                        left: 92%;
                    }
                    .card__check{
                        width:8%;
                    }
                }
            }
        }
        
        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 30px;
                width: 80%;
            }
        }
    }
}

@media (min-width:768px) {
    header {
        .header__img {
            height: 383px;
        }
    }    
    body {
        main{
        width: 80%;
            top:350px;
            .main__container{
                width: 70%;
                .main__container-menu {
                    .main__card {
                        &-price {
                            left: 92%;
                        }
                    }
                }
            }
        }
        footer{
            top:1710px;
        }
    }
}

@media (min-width:1060px) {
    main{
        top:60vh;
    }
}

@media (min-width:1370px) {
    body { 
        main{
            .main__container{
                .main__container-menu {
                    .main__card {
                        &-ttl{
                            .card__subttl-price{
                                width: 98%;
                            }
                        }
                        .card__check{
                            width:10%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1440px) {
    body {
        main{
            .main__container{
                .main__container-menu{
                    .main__card {
                        &-price {
                          left: 95%;
                        }   
                    }
                }
            }            
        }

        footer {
            padding-top: 30px;
            padding-right: 100px;
            padding-bottom: 40px;
            display: flex;
            flex-direction: row-reverse;
            gap:80px;
            h2{
               padding-top: 20px;
               margin-block-end: 0;
            }
            ul {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-end;
                margin-bottom: 0;
                gap:30px;
                margin-top:0;
            }
        }
    }
}